    <header xmlns:th="http://www.thymeleaf.org" class="container">
        <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-3 border-bottom">
            <a href="#" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                Simbirsoft-Java-2-2
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/projects" class="nav-link px-2 link-dark">Projects</a></li>
                <li class="ms-4"><a href="/teams" class="nav-link px-2 link-dark">Teams</a></li>
                <li class="ms-4"><a href="#" class="nav-link px-2 link-dark">About</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <a href="/logout" class="btn btn-outline-primary me-2">Logout</a>
                <a href="/profile" class="btn btn-primary">Profile</a>
            </div>
        </nav>
    </header>
