<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Management - Sign Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="/templates/css/signup.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="gray-overlay">
    <div class="site-name"><a href="/index">Management</a></div>
    <div class="sign-div">
        <h3 class="class-h3">Sign Up</h3>
        <form class="sign-form" action="/registration" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-light">Sign Up</button>
        </form>
        <a href="/login">Already have an account?</a>
    </div>
</div>
</body>
</html>
